* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

body {
    background-color: #181a1b;
}

.bg-vini {
    background-color: #181a1b;
    color: aliceblue;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 88px 10%;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 80vh;
}

.home-content {
    max-width: 600px;
    margin-right: 2rem;
    padding: 5 2rem;
}

.home-content h1 {
    font-size: 3rem;
    color: aliceblue;
    margin-bottom: 10px;
}

.home-content h3 {
    font-size: 1.5rem;
    color: #1976d2;
    margin-bottom: 16px;
}

.home-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.social-media {
    display: flex;
    gap: 20px;
    margin-bottom: 2rem;
}

.social-media a {
    text-decoration: none;
}

.social-media a i {
    font-size: 3rem;
    color: white;
    transition: color 0.3s ease;
}

.social-media a:hover i {
    color: #1976d2;
}

.btn {
    padding: 12px 32px;
    background-color: #1976d2;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: all 0.2s;
    cursor: pointer;
    flex-shrink: 0;
    margin-right: 4rem;
}

.btn:hover {
    background-color: #1565c0;
    color: #e3f2fd;
}

.home-img {
    max-width: 500px;
    display: flex;
    justify-content: center;
    min-width: 300px;
}

.home-img img {
    width: 100%;
    max-width: 950px;
    border-radius: 10px;
    box-shadow: 0 10px 25px black;
    object-fit: cover;
}

.projetos {
    max-width: 1100px;
    width: 100%;
    margin: 4rem auto 2rem;
    text-align: center;
    padding: 7 2rem;
}

.projetos h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #f4f4f4;
}

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.projeto-card {
    background-color: #3a3337;
    border-radius: 8px;
    width: 320px;
    text-align: left;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.603);
}

.projeto-card:hover {
    transform: translateY(-5px);
}

.projeto-card h3 {
    font-size: 1.5rem;
    margin: 1rem 1.5rem 0.5rem;
    color: #1565c0;
}

.projeto-card p {
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 0 1.5rem 1rem;
    color: #f4f4f4;
}

.projeto-card a {
    display: inline-block;
    background-color: transparent;
    color: #f4f4f4;
    padding: 8px 15px;
    margin: 0 1.5rem 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #1565c0;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.projeto-card a:hover {
    background-color: #1565c0;
    color: white;
}

@media (max-width: 900px) {
    .home {
        flex-direction: column;
        padding: 50px 5%;
        text-align: center;
    }

    .home-content {
        max-width: 100%;
        text-align: center;
        order: 2;
        margin-right: 0;
    }

    .btn {
        order: 3;
        margin-top: 1rem;
        margin-right: 0;
    }

    .home-img {
        margin-bottom: 30px;
        width: 100%;
        order: 1;
    }

    .social-media {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .projeto-card {
        width: 100%;
        max-width: 350px;
    }

    .projetos h2 {
        font-size: 2rem;
    }
}